@import url('https://fonts.googleapis.com/css?family=Pacifico');
div.container {
    margin-left: 15px;
}

span.navbar-brand {
    margin-left: 20px;
}

.pullRight-footer {
    margin-right: -200px;
}

* {
    font-family: "Pacifico";
}